@model TorneosBasketBall.Models.Partidos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoLocalID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoLocalID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoVisitanteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoVisitanteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntuacionLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntuacionLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntuacionVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntuacionVisitante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartidoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
