@model IEnumerable<TorneosBasketBall.Models.Partidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipoLocalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoVisitanteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntuacionLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntuacionVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoLocalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoVisitanteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntuacionLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntuacionVisitante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartidoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartidoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartidoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
