@model IEnumerable<TorneosBasketBall.Models.EstadisticasEquipos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartidosJugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ganados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perdidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosFavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosContra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosJugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ganados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perdidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntosFavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntosContra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.NombreEquipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
