@model IEnumerable<TorneosBasketBall.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrenador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Torneo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrenador.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Torneo.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
